*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comfortaa', sans-serif;
}

nav{
    
    position: sticky;
    height: 50px;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline-block;
    
}
nav li a{
    padding:0 50px;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase ;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s;
}
nav li a:hover{
    color:#000;
    padding: 10px 50px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.header-image{
    position: relative;
   height:300px;
   background-image: url('../img/skyscraper-gff4c4197b_1920.jpg');
   background-size: cover;
   color: #fff;
   text-shadow: 2px 0 15px rgb(10, 10, 10);
}
.bg-header-shadow{
    position: absolute;
    background-color: rgba(35, 36, 95, 0.281);
    width: 100%;
    height: 100%;
}
h1{
    position: absolute;
    left: 50%;
    top: 50%;
    letter-spacing: 2px;
    transform: translate(-50%,-50%); 
    font-weight: bold;
    text-transform: uppercase;
    
}
.h2-header{
    position: absolute;
    left: 50%;
    top:60%;
    margin-top: 5px;
    font-weight: 300;
    transform: translate(-50%,-50%);

}

footer{
    width: 100%;
    height: 50px;
    background:#333;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.icon-box a{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: #fff;
    transition: color .5s;
}
.icon-box a:hover{
    color: royalblue;
    transform: scale(1.5);
}
main{
    margin: 40px;
}

main h2{
    text-align: center;
    text-transform: uppercase;
    font-weight:700;
}

.about-us-box{
    position: relative;
    margin: 40px 0;
    height: 300px;
    /* background-size: cover; */
    background-attachment: fixed;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.about-us-text{
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #fff;
    padding: 20px 40px;
  
}

.about-us-text h3{
    margin-bottom: 15px;
    text-transform: uppercase;
}
.about-us-bg{
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
   
}

.top{
    
    background-image: url('../img/business-gaf7e0e1b4_1920.jpg');

}
.mid{
  
    background-image: url('../img/money-g93703ca67_1280.png');
}
.bottom{
   
    background-image: url('../img/bookkeeping-gdb046dcfa_1920.jpg');

}

.box-services ul{
    margin-top: 50px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}
.box-services li{
    padding: 10px;
}

.price-list{
    width: 100%;
    text-align: center;
    margin:60px 0;
}
.price-list table{
  margin: auto;
  border: 2px solid black;
  border-radius: 25px;
  padding: 30px;
}
.price-list table th{
    padding: 30px;
}

.contact-box{
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    

}

.contact-box-text{
position: absolute;
left:50%;
top:150px;
transform: translate(-50%,-50%);
}

.contact-box-text p{
    padding: 20px;
}