
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
 
body {
    margin: 80px;
    font-size: 16px;
    height: 100vh;
    background-color: royalblue;

}


.hero-image{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    background-image: url('https://unsplash.it/600/400');
    font-size: 35px;
    text-align: center;
    line-height: 400px;
    text-transform: uppercase;
    transition:1s ease-in;
    
}
.hero-image p{
    transition: 2s;
}
.hero-image:hover{
    transform:translate(-50%,-50%) rotate(360deg);
    color: yellow;
}

