*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    background-color: #444;
}
nav{
    text-transform: uppercase;
    .nav-link{
        color: #fff;
    }
    
    .navbar-brand{
        color: orangered;
        .navbar-a{
            color: #fff;
            transition: color .3s;
        }
        .navbar-a:hover{
            color: orangered;
            
        }
        
    }
    
    .nav-link:hover{
        color: orangered;
    }
    i{
        color: white;
    }

    
}
.fa-solid .fa-bars{
    color: orangered;
}

.bgimage{  
    position: absolute;
    top:0px;
    left:0px;
    background-image: url('./img/playstation-gc8195602d_640.jpg');
    height: 100vh;
    width: 100%;
    z-index: -1;
   background-repeat: no-repeat;
   background-size: cover;
}
.bgshadow{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 70%;
}
.bg-text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    p{
        text-transform: uppercase;
        font-size: 2.5rem;
        color: orangered;
        
    }
    span{
        color:#fff;
    }
}

.active{
    color: orange;
}
